<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>АП Ильдар</title>
</head>
<body>
<h1>Ильдар Сибгдатулин</h1>
    <img src="/static/images/ildar-avtopodbor.jpg" alt="Фото Ильдара" width="350" height="350"/><br>

<h3>Привет, Я <del>Эльдар</del> Ильдар. <br>
    <em>Сейчас я расскажу немного о себе.</em></h3>

<div>
    У меня есть сеть фирм по <strong>подбору автомобилей</strong>
    <a href="https://авто-подбор.рф/?utm_source=youtube&utm_medium=social&utm_campaign=yt-main">(Автоподбор).</a></br>
    Так же, я являюсь владельцем сети <strong>автосервисов</strong> под названием
    <a href="https://авто-подбор.рф/?utm_source=youtube&utm_medium=social&utm_campaign=yt-main">АП сервис.</a></br>
    <br>
    Помимо основной своей деятельности я веду свой ютуб канал с названием
    <a href="https://www.youtube.com/c/quattro882"> ИЛЬДАР АВТО-ПОДБОР </a>
</div>

<p>
    На своём ютуб канале, у меня есть рубрика: <ins>Оживление мертвеца.</ins>
    Где я и мои коллеги/друзья, помогают мне в этом деле.<br>
    Так же на канале я веду рубрику "Вручение автомобиля", в которой я <strong><mark>дарю</mark></strong> автомобиль
    людям <strong><mark>в сложной жизненной ситуации.</mark></strong>
</p>

</body>
</html>